.modal-dialog {
  border-radius: 1rem;
}
.modal-title {
  margin-left: 1rem;
}
.modal-header > button {
  margin-right: 1rem !important;
}
.btn-modal-foot > button {
  margin-left: 2rem;
}
.modal-contents {
  width: 90%;
  margin-top: 0.2rem;
  margin: 0 auto;
}